
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: black;
  min-width: 320px;
  min-height: 100vh;
}

a {
  @apply text-blue-600 hover:text-blue-800 font-medium no-underline;
}

button {
  @apply rounded px-4 py-2 font-medium transition hover:border-blue-500;
}
